.sidebar{
    flex: .35;
    display: flex;
    flex-direction: column;
/*    border-right: 1px solid rgb(212, 213, 215);   */
    z-index: 10;
}

.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgb(42, 47, 50);
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
    color: rgb(177, 179, 181) !important;
    z-index: 2;
}

.sidebar__search{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px;
    background: rgb(19, 28, 33);
    border-bottom: 2px solid #242d32;
}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #323739;
    border-radius: 20px;
    padding: 0 15px;
}

.sidebar__searchContainer > input{
    border: none;
    margin-left: 10px;
    background: transparent;
}

.sidebar__searchContainer > input::placeholder{
    color: rgba(241 , 241 , 242 , .7);
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: rgb(115, 120, 123);
}

.sidebar__chats{
    flex: 1;
    background: rgb(19, 28, 33);
    overflow: scroll;
}

.sidebar__chats::-webkit-scrollbar{
    display: none !important;
}

.sidebar__chats{
    scrollbar-width: none;
    -ms-overflow-style: none;
}