.sidebarChat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 2px solid #242d32;
}

.sidebarChat > h2 {
    color: rgba(241 , 241 , 242 , .88);
}

.sidebarChat:hover{
    background: #2d3134;
}

.sidebarChat__info{
    margin-left: 20px;
}

.sidebarChat__info > h2{
    color: rgba(241 , 241 , 242 , .88);
    font-size: 17px;
    margin-bottom: 8px;
    text-decoration: none;
}

.sidebarChat__info > p{
    text-decoration: none;
    color: rgba(241 , 241 , 242 , .6);
}

a{
    text-decoration: none;
}